[2015-06-04 20:52] jasnow opened #5 "Adding rails-controller-testing** gem does not fix NoMethodError message"
Adding **rails-controller-testing** gem to my **Rails 5** fork of codeforatlanta's show-me-the-food5 (https://github.com/jasnow/show-me-the-food5) repo's Gemfile does not fix the following message:
- NoMethodError:assigns has been extracted to a gem. To continue using it, add `gem 'rails-controller-testing'` to your Gemfile.

Appears to not be the only one: http://stackoverflow.com/questions/30605

[2015-06-04 22:51] tgxworld commented on #5
@jasonw i'll have to fix this. The gem was built under the assumption that the methods would have only been deprecated and not raise a warning. Sorry about that :kissing_heart:

[2015-06-05 10:29] jasnow commented on #5
Question: Will this fix be in this gem or in Rails?

[2015-06-06 01:35] tgxworld commented on #5
@jasnow I couldn't replicate the issue with the demo app. Could you check if you have the latest version of the Gem installed? Thanks :smile:

[2015-06-08 00:32] jasnow commented on #5
You must run "bundle update" and add the new gem and then run "rake" and see that adding the new gem did not get rid of the message.

[2015-06-08 01:44] tgxworld commented on #5
Ah ok. This only happens when using RSpec, let me have another look at it.

[2015-06-08 22:05] bunneyster commented on #5
Hi, I'm using the default Rails testing framework, and I am still seeing the same issue as @jasnow. If you take a look at [this repo](https://github.com/spark008/authpwn_rails), you can run `rake test` on the `master` branch (rails-4.2.0) to see all the tests pass, and on the `rails5` branch (edge rails) to see tests error out. Thank you for your help!

[2015-06-09 01:47] tgxworld commented on #5
@spark008  Ok I'm seeing the same failures with your app. Could you try out https://github.com/tgxworld/test-app and see if the tests passes for you?

[2015-06-09 01:53] tgxworld commented on #5
@spark008 Ah I see what is happening for your app. Your app is using a custom `test_helper`. If you `require 'rails-controller-testing'`,  you'll stop getting those errors.

[2015-06-09 16:06] redbassett commented on #5
+1, upgraded an existing app to edge rails and tests (Minitest) give the message despite having the gem installed at version `0.0.3`.

[2015-06-09 23:20] tgxworld commented on #5
@redbassett RSpec or Minitest?

[2015-06-10 13:35] redbassett commented on #5
Default testing. (So Minitest)

[2015-06-10 15:04] tgxworld commented on #5
@redbassett could you provide more information? So far, RSpec is known to be broken because RSpec implements `assign`. I pushed a test app above to demonstrate that it works with edge Rails on Minitest.

[2015-06-10 17:08] redbassett commented on #5
Apologies!

I have the following line of code:
`assert_equal assigns(:user).remember_token, cookies['remember_token']`

It was in place in a test before I upgraded, and passed fine. After the upgrade, I have started getting the following error:

[code]

This is despite having the gem installed at version `0.0.3`. I have not changed the configuration of testing from the default, and this is inside

[2015-06-12 14:56] tgxworld commented on #5
@redbassett Could you replicate this in a simple app?

[2015-06-17 02:49] tgxworld commented on #5
@jasnow Ah ok. I found out the reason why RSpec isn't working. RSpec doesn't include `ActionController::TestCase` but instead includes only `ActionController::TestCase::Behavior`. What this gem is currently doing is to [include the modules under `ActionController::TestCase`](https://github.com/rails/rails-controller-testing/blob/master/lib/rails-controller-testing.rb#L5-L10) which is why the gem i

[2015-06-17 14:41] jasnow commented on #5
Thanks

[2015-06-23 09:29] tgxworld commented on #5
Hmm I can't figure out a good way to support RSpec out of the box as of now. Rails [`includes AC::TestCase::Behavior` on load](https://github.com/rails/rails/blob/master/actionpack/lib/action_controller/test_case.rb#L617) so we can't just include modules into `AC::TestCase::Behavior`. To make it work with RSpec you'll have to include the module manually.

@rafaelfranca Do you have any ideas? Anoth

[2015-08-21 13:40] asiniy commented on #5
This gem still don't work

[2015-08-21 13:46] tgxworld commented on #5
@asiniy what doesn't work? I need more information than that to help you.

[2015-08-21 15:15] asiniy commented on #5
I use rspec, add

[code]

And still have this idiotic exception

[2015-08-21 17:03] tgxworld commented on #5
Added a note about usage with RSpec. https://github.com/rails/rails-controller-testing#rspec

[2015-08-23 18:04] asiniy commented on #5
@tgxworld thanks, I'll try it tomorrow ;)

[2015-08-24 06:45] asiniy commented on #5
@tgxworld thanks, works!

[2015-08-30 13:02] jasnow opened #6 "Getting "uninitialized constant Rails (NameError)" error after using workaround"
Why do I get this error message **uninitialized constant Rails (NameError)** after adding this line to Gemfile file:

[code]

and these 5 lines to spec/spec_helper.rb file (based on rails-controller-testing gem README)?

[code]

Thanks.

[2015-08-30 13:18] tgxworld commented on #6
Is your `spec_helper` being loaded before Rails is loaded?

[2015-08-30 13:40] jasnow commented on #6
Fixed

[2015-08-30 13:40] #6 closed, assigned to nobody

[2015-12-01 21:04] matthewd opened #8 "Eagerly loading AV::TestCase breaks routing"
After adding `rails-controller-testing` to a Gemfile, bundler will automatically require it.

That causes [these lines](https://github.com/rails/rails-controller-testing/blob/43951d086f1de38be3ff48771bf8c55ff92e7162/lib/rails-controller-testing.rb#L19-L21) to run, which in turn triggers the autoload on `ActionView::TestCase`.

That means we run [this line](https://github.com/rails/rails/blob/c403e

[2015-12-02 00:01] matthewd commented on #8
@sgrif 69068e0b662a048a190cfad34ff64cc359702e59 doesn't seem to fix this for me... I think because the ActionController on_load can still fire before the initializer is run?

[2015-12-02 00:56] sgrif commented on #8
Odd. The issue I was resolving is exactly what you've described, and it fixed it for me.

[2015-12-31 19:18] jprince commented on #5
In case anyone else runs into this issue, the README file's section about usage with RSpec has since been modified, so the note that @tgxworld is alluding to no longer exists. It can be found, however, in this commit: https://github.com/rails/rails-controller-testing/commit/f756b33c138c593eabe37f6085f8bac477b99bfe

[2016-01-02 20:03] andrewjanssen commented on #5
This issue still reproduces for me in apps generated from rails [a0a62da2](https://github.com/rails/rails/commits/a0a62da235e8d87795d6cef6613ddf440386b366) (i.e. all rails gems at 5.0.0.beta1) and rails-controller-testing v0.0.3. To fix, I put this in my test_helper.rb.

[code]

That shouldn't be necessary, right?

[2016-01-02 20:07] jasnow commented on #5
Look at @jprince's comment from two days ago: The commit he references was: https://github.com/rails/rails-controller-testing/commit/f756b33c138c593eabe37f6085f8bac477b99bfe

[2016-01-02 20:11] andrewjanssen commented on #5
Thanks! (I had ignored that comment because I was looking for a solution for the out-of-the-box Rails tooling, not RSpec. But the work-around is the same.)

[2016-01-02 20:15] jasnow commented on #5
U R Welcome

[2016-01-17 08:24] metalelf0 commented on #5
Thanks @andrewjanssen , I had the same issue with Rails 5.0.0.beta1 and this gem (0.0.3), your solution works.

[2016-01-17 13:10] tgxworld commented on #5
Hmm I think we should add the solution back into the readme for those not running latest RSpec with the fix.

[2016-01-21 03:32] owenr commented on #5
Fixed for airblade/paper_trail#689 test_helper.rb (NOT spec_helper.rb) with the following:

[code]

Please consider reopening this issue for discoverability.

[2016-01-25 14:00] #5 closed, assigned to tgxworld

[2016-01-28 18:33] b-sridhar opened #12 "Rails-Controller-testing breaks View specs."
After adding the rails-controller-testing gem, the View specs fail as the "render" method is no longer recognized.

Environment: Rails: Rails 5.0.0.beta1.1, Ruby: ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]
Steps to reproduce:
1. rails new example
2. cd example
3. echo 'gem "rspec-rails", :group => [:development, :test]' >> Gemfile
4. Uncomment "gem 'therubyracer', platforms: :ruby" in

[2016-02-06 22:21] connorshea opened #13 "rails-controller-testing gem on RubyGems is not this one"
The `rails-controller-testing` gem recommended by Rails in the deprecation warnings, [as provided by RubyGems](https://rubygems.org/gems/rails-controller-testing), is linked to a different repository from this one. This means that Rails is recommending a gem it doesn't necessary control, even though this repository is more up-to-date than the fork it lists as its homepage. Does the Rails project h

[2016-02-06 22:38] rafaelfranca commented on #13
Yes we do control this gem as you can see the owners list at the RubyGems page.

[2016-02-06 22:38] #13 closed, assigned to nobody

[2016-02-09 13:56] jasnow opened #14 "Travis build fails with 3 error messages"
After seeing that Travis build was failing, I forked/cloned the repo, ran bundle, and then rake and got:

[code]

I think I can fix the first two issues, but unclear how to fix the 3rd one about assets. Do I remove all instances of ".assets" in the repo?

[2016-02-11 14:34] jasnow commented on #14
Surprise I did not get an answer.

[2016-02-11 14:34] #14 closed, assigned to nobody

[2016-02-11 20:23] djpate opened #15 "After removing ActiveRecord my specs fails to load."
I have been using this gem for the last couple of weeks without issues.

But when I tried to remove ActiveRecord from my dependencies it fails to start my specs now.

[code]

Any ideas?

[2016-02-13 00:01] bjallen opened #16 "Error with TemplateAssertions setup"
Something in 69068e0b662 causes an error when used in a Rails engine.

I have a reduced example in [this repo](https://github.com/bjallen/rails-controller-testing-engine-error-example/commits/master).

[code]

It's coming from a nil `@_subscribers` in the [`teardown_subscriptions` method](https://github.com/rails/rails-controller-testing/blob/3d81f3d6c8ef5060c9e242378a2b64de2aa4d72f/lib/rails/cont

[2016-02-13 03:03] bjallen commented on #16
Looks like the error happens with just a normal empty rails app as well. The setup callbacks are run before the ActiveSupport.on_load(:action_controller) block gets lazy loaded, so the TemplateAssertions setup isn't registered in time which means that @_subscribers is never instantiated.

ruby 2.3.0
rails 5.0 beta2

[code]

[2016-02-18 14:09] tgxworld commented on #15
Hi @djpate can you give me the steps to reproduce?

[2016-02-18 15:34] djpate commented on #15
[code]

in  spec/rails_helper.rb
add

[code]

remove line 25, 29, 34.

it should look like this

[code]

in config/application.rb, remove line 7
`require "active_record/railtie"`

delete config/initializers/active_record_belongs_to_required_by_default.rb

create a bogus spec like test_spec.rb

[code]

run rspec

[code]

[2016-02-18 17:07] #8 closed, assigned to nobody

[2016-02-18 17:07] #12 closed, assigned to nobody

[2016-02-18 17:07] #16 closed, assigned to nobody

[2016-02-27 02:25] tgxworld commented on #15
Hi @djpate, can you try again with master branch on this gem? I'm pretty sure this is the same as the other issues I fixed in https://github.com/rails/rails-controller-testing/pull/18. Thanks!

[2016-02-28 15:46] mhartl opened #19 "Gem doesn't supply desired `assigns` or `assert_template` methods, also breaks unrelated tests"
The `rails-controller-testing` gem appears not to supply the promised `assigns` and `render_template` methods, and in addition it appears to break unrelated controller tests. The steps to reproduce are below, and I've also uploaded a [rails_controller_testing_app](https://github.com/mhartl/rails_controller_testing_app) to GitHub for reference.

Here are the initial steps, using the latest beta rel

[2016-02-29 01:06] tgxworld commented on #19
Hi @mhartl, can you try with the `gem 'rails-controller-testing', :git => 'git://github.com/rails/rails-controller-testing.git'`? Should have been fixed by https://github.com/rails/rails-controller-testing/commit/29b08536ca98204d34ef8dcbfae7a2379444d2a0 but I'm waiting to confirm one more reported issue before releasing a new version. :smile:

[2016-02-29 15:22] tgxworld commented on #19
Just tested locally. This has been fixed in https://github.com/rails/rails-controller-testing/commit/29b08536ca98204d34ef8dcbfae7a2379444d2a0

[2016-02-29 15:22] #19 closed, assigned to nobody

[2016-02-29 17:40] mhartl commented on #19
I can confirm the fix. Thanks! Looking forward to the new release. :-)

[2016-03-03 04:32] lcreid commented on #5
Using minitest and rails-5.0.0.beta2, I found I had to put the following in `test_helper.rb`:

[code]

That's with version 0.1.0 of the rails-controller-testing gem.

[2016-03-03 05:07] tgxworld commented on #5
@lcreid I fixed the issues with 0.1.0... Aiming for a release soon once I confirm https://github.com/rails/rails-controller-testing/issues/15 is fixed using master branch

[2016-03-06 12:37] tgxworld commented on #15
Ok I just had a look at this. This is because RSpec doesn't load their `SetupAndTeardownAdapter` if ActiveRecord is not being used See https://github.com/rspec/rspec-rails/blob/a6bdb463d7676d4160d3881a4605d3362d210a74/lib/rspec/rails/fixture_support.rb#L5-L7.

To work around the issue, add

[code]

cc @rafaelfranca Last issue closed :) Can we make a new release?

[2016-03-06 12:37] #15 closed, assigned to nobody

[2016-03-06 17:04] djpate commented on #15
Thank you!

[2016-03-08 23:02] lnhrdt opened #21 "view helper availability regression in 0.1.1"
Using version 0.1.1 with this directory structure:

[code]

during tests `_job.html.haml` can reference helpers in `jobs_helper.rb` but `_row.html.haml` cannot. Both views could reference the helpers using rails-controller-testing 0.1.0.

Both views can reference the helpers in the application outside of tests.

Using rails 5.0.0.beta3.

If a sample would be helpful, the following demonstrates the

[2016-03-09 03:36] tgxworld commented on #21
Hi @lennyk!

Please provide the steps to reproduce the error you're seeing. Thanks! :)

[2016-03-09 20:14] lnhrdt commented on #21
Sure!

[code]

`95 examples, 0 failures` :smile: (rails-controller-testing 0.1.0)

[code]

_This should have upgraded rails-controller-testing to 0.1.1_

[code]

`95 examples, 9 failures` :cry: (rails-controller-testing 0.1.1)

[2016-03-11 13:54] fables-tales commented on #21
I have some further detail to this, based on checking RSpec's build for 5.0.0.beta3. With the current commit on master, while running our build, I get the following backtrace:

https://gist.github.com/samphippen/2745cbfa8da9c82631ab

using 3d81f3d6c8ef5060c9e242378a2b64de2aa4d72f there was no backtrace of this from in our build (which failed for other reasons, something that changed in an actionma

[2016-03-11 20:51] sgrif commented on #21
This was caused by https://github.com/rails/rails-controller-testing/commit/ce370fe8488385d3a465b0a97376c8d9ab3e24af moving that load hook into `on_load(:action_view)`. The issue is that `AbstractController::Rendering` actually requires files from `ActionView`, causing that hook to get run before that constant is defined (and `ActionView::TestCase`, references `ActionController::Base` somewhere).

[2016-03-11 21:04] sgrif commented on #21
Also worth noting, I see a giant dump of output that looks to be from the same issue (but not an error) when running the test suite with rake 11, but not with rake 10.5.0, which is what the last travis run used

[2016-03-11 21:13] sgrif commented on #21
The error in RSpec occurs regardless of Rake version

[2016-03-11 21:21] sgrif commented on #21
This replicates the error and causes the test suite to fail:

[code]

[2016-03-11 21:43] sgrif commented on #21
Fixed by https://github.com/rails/rails/commit/12cce89c89b48b15dcf2fcdb41feaaa5b7c06991

[2016-03-11 21:43] #21 closed, assigned to nobody

[2016-03-11 22:26] sgrif commented on #21
In case anyone needs to work around this issue until the next Rails release, look through your initializers for something referencing `AbstractController::Rendering` (likely `ActionMailer`). Either move that code into `ActiveSupport.on_load(:action_mailer)`, or add `require "action_view/base"` before that line as a workaround.

[2016-03-12 12:36] Quintasan commented on #19
I, unfortunately, can't confirm this being fixed.

Gemfile:

[code]

Spec:

[code]

Result:

[code]

What am I doing wrong if this actually got fixed?

[2016-03-12 13:15] tgxworld commented on #19
Hi @quintasan please provide a sample repro or the exact steps to reproduce the errors you're seeing. Thanks!

[2016-03-12 19:08] lnhrdt commented on #19
@Quintasan I had the same issue. I fixed it by adding the configuration shown here to rails_helper:

https://github.com/rails/rails-controller-testing#rspec

[2016-03-13 11:09] Quintasan commented on #19
@tgxworld My bad, I actually found instructions mentioned by @lennyk a little after my comment and forgot to report back. Everything works fine now.

[2016-03-23 16:23] gsusmonzon opened #22 "Solving uninitialized constant AbstractController::Rendering"
Hello,

In case it may help to others.
When I tried using this gem in a Rails 5 beta3 project with minitest I got the following fatal error

[code]

I changed Gemfile adding a _require false_

[code]

and required the gem in the `test_helper.rb` after others

[code]

Thanks

[2016-05-16 18:39] jennytech commented on #5
![1](https://cloud.githubusercontent.com/assets/16144214/15299773/b18e5102-1b5a-11e6-8260-d67995fd2997.png)
![56](https://cloud.githubusercontent.com/assets/16144214/15299781/b57fcafc-1b5a-11e6-9826-00244ae9988c.png)
I  get same error,If U can help please? I have been stuck a week.I did add gem and bundle install and update.But It didnt fix it at all.what's wrong?

[2016-05-16 18:54] kaspth commented on #5
@jennytech 👋, I see you're using RSpec. The gem requires a bit more config for that setup, make sure you try this from the readme: https://github.com/rails/rails-controller-testing#rspec. Hope that helps! 😁

[2016-05-16 19:14] jennytech commented on #5
@kaspth Do I need add Useage thoes code also?

[2016-05-16 19:18] kaspth commented on #5
@jennytech you mean the code under Usage? No, you don't have to add anything but the RSpec config to get that error fixed... hopefully 😁

[2016-05-23 05:20] terryyin opened #24 "It still breaks the view tests"
It seems the bug of https://github.com/rails/rails-controller-testing/issues/12 is still there. The url helpers are not working for view tests.

[2016-05-23 05:50] rafaelfranca commented on #24
Can you please provide a sample application that reproduces the error?

[2016-07-05 11:42] fables-tales commented on #24
@rafaelfranca we got a reproduction case provided for us on https://github.com/rspec/rspec-rails/issues/1644#issuecomment-230453429.

My demo app is here: https://github.com/samphippen/demo_app_for_rspec_1644

In commit https://github.com/samphippen/demo_app_for_rspec_1644/commit/82a6bd1d5b30b44c815ace1b6df00f0df90e1ea8 you can see a passing test using one of the helpers

The next commit adds the

[2016-07-05 15:14] rafaelfranca commented on #24
Thanks! I'll take a look.

[2016-07-11 13:45] mrageh commented on #24
I've looked into this problem and it seems like the issue has something to do with `ActionView`.

Both secureheaders gem[1] and rails-controller-testing gem[2] open a subclass within `ActionView` to include their own modules. For some reason this ends up removing `ActionDispatch::Routing::UrlFor` from `ActionView.included_modules` when the RSpec test is running. The problem only seems to happen wh

[2016-07-11 13:48] kaspth commented on #24
Secure Headers doesn't seem to use Active Support's load hooks at https://github.com/twitter/secureheaders/blob/9bf22e772e6d84f79c97e6afbd53a46a7cf8612b/lib/secure_headers/view_helper.rb#L113. That is guaranteed to cause inter-op issues and is likely why removing it in one gem makes it work.

[2016-07-11 13:55] tirdadc commented on #24
I managed to isolate the cause of this issue in one of my projects, and it came down to the `foundation-will_paginate` gem:

https://github.com/markmcconachie/foundation-will_paginate/blob/master/lib/foundation-will_paginate.rb

[2016-07-11 14:18] mrageh commented on #24
@kaspth thanks that seems to have fixed the problem, but I don't understand why not using `ActiveSupport` load hooks causes a problem. Any chance you can direct me to some resource that explains why/how inter-op issues are caused when a gem does not use `ActiveSupport`'s load hooks.

[2016-07-11 18:47] kaspth commented on #24
@mrageh sure thing! I can totally understand why you find it tough to understand, I could barely find any docs for `on_load`. But here's about the interface: https://github.com/rails/rails/blob/39b8b8fdbf6c175a64f07198ff1c950e33c72cd0/activesupport/lib/active_support/lazy_load_hooks.rb

These load hooks are how Rails communicates that you can now extend a component because it is fully loaded. If o

[2016-07-12 15:18] koenpunt commented on #24
When using `ActiveSupport.on_load :action_view` within a gem, what is the best place to add this? In a `Rails::Engine.initializer` block, or just at the end of the lib file, like so: https://github.com/fetch/rails-bootstrap-forms/blob/26afc1726e90b31b6d2501d463b4d3ea0ac51338/lib/bootstrap_form.rb#L11-L13

[2016-07-12 16:10] rafaelfranca commented on #24
It depends, if action view is not required to the gem work in a railtie. One example of this is the observers initializer we have in activeresource. You can make activeresource work without observers.

If the gem only works if action view is present it can be in the place that do the inclusion, in the case in the lib file.

[2016-08-11 18:39] #24 closed, assigned to nobody

[2016-08-11 18:43] kirs commented on #24
👏  to @sgrif for fixing this issue.

[2016-08-11 23:15] rafaelfranca commented on #22
This should be fixed now.

[2016-08-11 23:15] #22 closed, assigned to nobody

[2016-10-07 00:04] mahemoff opened #28 ""assigns" in integration test not working"
This gem has restored `assigns` as expected for controller tests, but not for integration tests. e.g.:

[code]

yields

[code]

I notice the integration test here doesn't include `assigns`, is it supported?

[2016-10-07 19:07] rafaelfranca commented on #28
It should not. Integrations tests are not supposed to have the `assigns` method since they are integration tests and integrations tests should not be asserting the state of the controller object. I'll remove that message from integration test.

[2016-10-07 19:22] rafaelfranca commented on #28
Closed by https://github.com/rails/rails/commit/5dde413

[2016-10-08 09:01] mahemoff commented on #28
I'm a little surprised tbh. I realise `assigns` was never the main point of integration tests, but it was still supported right up until Rails 5, so this represents a (minor, though undocumented) break in back-compatibility for the upgrade. If the purpose of rails-controller-testing is to help make a smooth transition to Rails 5, and ultimately `assigns` is deprecated in controller tests anyway, I

[2016-10-21 19:16] rafaelfranca commented on #28
I just found that the integration tests add it. Could you create an example application that reproduce this issue?

It is being defined here https://github.com/rails/rails-controller-testing/blob/master/lib/rails/controller/testing.rb#L18

[2016-10-27 16:56] mahemoff commented on #28
Please see https://github.com/mahemoff/integration-assert.

[assigns here](https://github.com/mahemoff/integration-assert/blob/a447a4c1c5950308b20fdf41ecea74cc611e9059/test/integration/example_test.rb) fails for me with the above error.

[2016-11-09 20:38] contradictioned opened #29 "With Haml und Rspec view tests, helpers are not found."
I have a rails app with the gems `haml-rails` and `rspec`.
I am trying to upgrade this app to rails 5, and since I have `assigns` and `assert_template` in the tests, I added the `rails-controller-testing` gem.

Now the problem: Suddenly, the tests that

1. _render views_ which
2. _include helper methods_

do not work anymore, as the helper methods are not found.

I have a minimal rails app that re

[2016-11-10 18:46] rafaelfranca commented on #29
We don't support rspec neither haml. Are you able to reproduce this with minitest and ERB?

[2016-11-13 11:44] contradictioned commented on #29
No, and even better: The problem does not occur with minitest and haml.

I think that leaves the problem to the way, rspec runs the specs.

[2016-11-13 11:44] #29 closed, assigned to nobody

[2016-12-16 13:42] Xosmond commented on #28
Same here, assign its not working, im getting nil.

[2017-01-19 22:56] maletor commented on #16
I have this issue as well, but with rails 5.0.1 and rails-controller-testing 1.0.1.

[2017-04-19 16:10] hstoebel opened #33 "assigns converts nil to empty string"
I just made the switch to Rails 5.0. I often test state of my controllers by comparing to an expected hash like so:

[code]

This worked find in Rails 4.2. But after the switch the two hashes are not equal. Specifically, `actual_attrs["comments"]` is now `""` not `nil`.

Is this an issue in this gem or a change in Rails 5? Or is there something else I'm misunderstanding? I'm happy to work on this

[2017-04-19 17:14] rafaelfranca commented on #33
It is a change in 5.0. Now controller tests are parsing the attributes in the same way a browser does. There is no way a parameter get in the controller with `nil` if your request is using the HTML format, so now Rails is behaving in the same way of a browser.

[2017-04-19 17:14] #33 closed, assigned to nobody

[2017-04-19 17:53] hstoebel commented on #33
gotcha, thanks so much!

[2017-04-19 17:56] jstoebel commented on #33
gotcha, thanks so much!

[2017-05-17 09:55] fwininger opened #34 "Issue with helper test with the last version (1.0.2)"
Hi guys,

We have a issue with the last release.

We use Ruby 2.4.1 and Rails 5.1.1.

With Rspec helper test, this update does something strange. Then we do tests on ClassAHelper with method "name", tests use another helper ClassBHelper than contains also the methode "name".

May be, they have change on the way to load classes ?

Thanks

[2017-05-30 00:48] rafaelfranca commented on #34
There is no change in the way it load classes, but if you have to helpers with the same method and they both are being included in the the controller I strongly recommend to rename one of them because the bahavior is not deterministic.

[2017-05-30 07:00] fwininger commented on #34
Thanks for your answer.

In the fact, the two helpers are the same method but there are NOT include simultaneously in a controller.

I try to investigate more on this issue when I have some time.

[2017-05-30 22:57] rafaelfranca commented on #34
Is the rails configuration to include all helpers disabled?

[2017-09-28 18:01] spurnaye opened #35 "ActionController::UrlGenerationError on rails upgrade to 5.1.3"
Following lines stopped working after upgrading from rails 4.2.3 to 5.1.3
'''
 get :new, params: {user_id: user.id}
'''
with following error

'''
ActionController::UrlGenerationError:
       No route matches {:action=>"new", :controller=>"the_controller", :user_id=> 123}
'''

[2017-09-28 19:56] spurnaye commented on #35
Closing as this was issue with defining the correct routes in rails 5.1.3

[2017-09-28 19:56] #35 closed, assigned to nobody

[2017-11-24 22:51] jasonfb commented on #19
I can reproduce this error:

[code]

whenever I have the gem *inside* a ```:test``` group, but the gem works as expected when no test group is set in the gemfile.

is this the expected behavior?

[2017-11-25 17:06] rafaelfranca commented on #19
No. I use this gem every day and I have it inside the test group. Are you able to reproduce this problem in a new application?

[2017-11-25 20:22] jasonfb commented on #19
Hmm........ the app I got was a sample app from someone else that I made some mods to. It's a Rails 5.1.4 app. Let me try to reproduce on a fresh install Rails 5.1.4 app.

Will push up if I can get it to reproduce on a fresh install Rails app.

[2017-12-02 15:27] jasonfb opened #36 "undefined method `get' for #<RSpec::ExampleGroups"
Failure/Error: get :index

     NoMethodError:
       undefined method `get' for #<RSpec::ExampleGroups::AbcController:0x007f9d215f2d80>
       Did you mean?  gets
                      gem

[2017-12-02 15:30] jasonfb commented on #36
this can happen under the following conditions:
1) your spec does not have ```type: :controller``` (or `:type => :controller`)   OR (your spec is not in the controllers folder AND you have set ` config.infer_spec_type_from_file_location!`)    … see [this SO post](https://stackoverflow.com/questions/6296235/undefined-method-get-for-rspeccoreexamplegroupnested-10x00000106db51f)

2) you have written

[2017-12-02 15:39] #36 closed, assigned to nobody

[2017-12-02 15:42] jasonfb opened #37 "When gem is only inside :test group, get error NoMethodError: assert_template has been extracted to a gem. To continue using it, add `gem 'rails-controller-testing'`"
error:
**NoMethodError:  assert_template has been extracted to a gem. To continue using it, add `gem 'rails-controller-testing'`**

This occurs when the gem is *inside* of the `:test` group in the gemfile (counter-intuitively)

[code]

when the gem is *outside* the `:test` group, my specs pass without this error

[code]

reproduction app coming shortly

[2017-12-02 15:47] jasonfb commented on #37
reproduction app here https://github.com/jasonfb/rails-controller-testing-gem-group-issue-sample-app

commit `9c2f789fcf216c31ef8c5a90a90781bf290e0603` will show the symptom

see notes in Gemfile -- I have left the non-buggy line commented out. if you uncomment this line & comment the line in the :test group you should see the effect.

[2017-12-02 15:48] jasonfb commented on #19
@rafaelfranca -- I was able to reproduce this on another attempt;

for this reason, moving to https://github.com/rails/rails-controller-testing/issues/37

[2017-12-11 20:26] pschambacher opened #38 "Incompatibility in Rails 5.2 with RSpec 3.7?"
Hello! Just tried to upgrade one of my apps to Rails 5.2.0.beta 2 but all my specs are failing. Here's the trace:

[code]

There doesn't seem to be anything coming from my own stack in this trace. I forked this repo and ran the test with a 5.2 gemfile but everything is green. I'm not sure yet who's to blame between this gem and rspec?

[2017-12-11 22:03] rafaelfranca commented on #38
It seems that `setup_subscriptions` was not called by RSpec. Maybe it is an RSpec issue?

[2017-12-11 22:04] pschambacher commented on #38
@samphippen ?

[2017-12-11 22:05] pschambacher commented on #38
I noticed there's an RSpec 3.8.0.pre... that's the version scheduled to be compatible with 5.2?

[2017-12-12 22:02] rafaelfranca commented on #37
Are you able to reproduce this without RSpec?

[2017-12-19 18:43] jrissler commented on #37
I am able to replicate + get the same error with just mini-test (however moving outside test group didn't resolve for me)

[2018-01-28 00:01] fredngo opened #39 "NameError (uninitialized constant Rails) (appears in Ubuntu 16.04.3, does not appear in OS X)"
My app works fine on OS X -- now I'm trying to move it to a Linux machine (a VM under Vagrant). All tests fail due to `NameError (uninitialized constant Rails)` and I've isolated it to the loading of this gem.

I can replicate this error with a few lines in `irb`.

Using `ruby 2.5.0p0` on both machines, under `rbenv`.

On OS X High Sierra the `Rails::Controller::Testing.install` method call return

[2018-01-28 05:31] fredngo commented on #39
An update: I re-built the Vagrant machine with a `bento/ubuntu-16.04` base image instead of the `ubuntu/xenial64` base image, and it is now working as expected.

Apparently the `ubuntu/xenial64` base image is somehow [horribly broken](https://github.com/hashicorp/vagrant/issues/6616#issuecomment-227776489).

Even though I was able to install Ruby 2.5.0 and all the gems and native extensions in `ub

[2018-01-28 05:31] #39 closed, assigned to nobody

[2018-02-08 16:51] GBH commented on #37
I started to see this exact problem with one of my projects. ~~Hilariously enough only on MacOS. Ubuntu and TravisCI work perfectly fine. Another project that's using this gem also works fine even on MacOS.~~ Not helping, but I wanted to share

[code]

[2018-02-08 19:20] jasonfb commented on #37
Yes I am on macOS Sierra 10.12.6

@rafaelfranca -- sorry didn't test it elsewhere

[2018-02-08 21:15] GBH commented on #37
Something to check. My bundler installed version `0.0.2` (of all versions that there are) instead of `1.0.2` for some reason. That explains why nothing works. Now I need to start digging and figure out why...

Edit: Nuking entire rbenv ruby and then reinstalling and then forcing version to `1.0.2` fixed it for me.

Edit2: Trying to lock versions for other gems makes bundler freak out and not able

[2018-02-14 16:41] cheshire137 commented on #5
I'm on Rails 5.1.4 and rails-controller-testing 1.0.2. I still get the error message "assert_template has been extracted to a gem" from one of my `ActionDispatch::IntegrationTest` tests. I tried adding to my test_helper.rb:

[code]

But this results in `NameError: uninitialized constant Rails::Controller`.

[2018-04-16 09:33] mdkalish commented on #5
This issue still persists on rails 5.0.0.1, rspec-rails 3.7.2, and rails-controller-testing 1.0.1:
[code]

Add this to your `spec_helper.rb` to fix the problem:
[code]
@tgxworld given the above, maybe you could remove the [falsey info](https://github.com/rails/rails-controller-testing#rspec) from the docs? Clearly, adding the gem to the Gemfile alone is not sufficient :(.

[2018-05-12 05:15] oscaralanpierce opened #41 "assert_template raising errors when response object is nil"
Hi there! I'm using rails-controller-testing with Rails 5.2.0 and rspec-rails 3.7.2. An error is being raised because for some reason, the response object is `nil`. I have the following controller code:
[code]
And the request spec looks like this:
[code]
I traced the error to this line of code: https://github.com/rails/rails-controller-testing/blob/37cb8e33fe55a30bac4f99232e83144ba19f4152/lib/rail

[2018-05-17 21:33] rafaelfranca commented on #41
Hey Dana. After the `get` method is called the response should never be `nil`.

https://github.com/rails/rails/blob/6c05728a507fe828647c2a0f62cf8ede1534a642/actionpack/lib/action_controller/test_case.rb#L473.

It being a while since I don't use RSpec, but do you know if the `type: :request` defines a `ActionController::TestCase` or a `ActionDispatch::IntegrationTest`? If it is the later `render_te

[2018-05-18 18:47] oscaralanpierce commented on #41
Thanks for the response @rafaelfranca ! I'll look into it a little more a let you know what I find out. Could be useful information.

[2018-06-08 04:03] Onikoroshi commented on #5
This issue still seems to be active with Rails 5.1.6, RSpec 3.7.2, and rails-controller-testing 1.0.2.

I've tried all the solutions here, and nothing has worked. Here's my spec_helper.rb:

[code]

Still I get the following error:

[code]

Help!

[2018-06-08 17:47] andreleoni commented on #38
I have the same problem...

[code]

[2018-09-04 19:48] samanthamjohn commented on #5
On my project it works fine with controller tests, but when I try to use it within a request spec I get:
[code]

Versions: rails 5.1.4,  rspec-rails 3.7.2,  rails-controller-testing 1.0.2

[2018-11-29 19:34] Edouard-chin opened #43 "Release v1.0.3"
👋

Would it be possible to release a v1.0.3, mainly interested to get the commit that removes the upperbound constraint on actionpack and actionview

https://github.com/rails/rails-controller-testing/compare/v1.0.2...master

Thanks

cc/ @rafaelfranca

[2018-11-29 21:26] rafaelfranca commented on #34
This issue has closed because there has been no follow-up response from the original author. We currently don't have enough information in order to take action. Please reach out if you have any additional information that will help us move this issue forward.

[2018-11-29 21:26] #34 closed, assigned to nobody

[2018-11-30 16:32] rafaelfranca commented on #43
Done

[2018-11-30 16:32] #43 closed, assigned to nobody

[2018-11-30 16:32] Edouard-chin commented on #43
Thanks ❤️

[2018-12-05 14:27] mjhenkes opened #44 "Removing xhr and xml_http_request was non-passive."
Removing xhr and xml_http_request was non-passive and should have been a major version bump.

Tests that were passing using rails-controller-testing 1.0.2 no longer pass with the 1.0.3 release. I'm all for removing the depreciation warning, but it should have been done with a major version bump to give consumers time to upgrade.

Specifically the tests fail with the error:
[code]

PR removing xhr

[2018-12-05 14:46] mjhenkes commented on #44
On second glance my issue may just be an error in rails-contoller-testing, although removing xhr and xml_http_request is still non-passive :)

[2018-12-05 15:15] rafaelfranca commented on #44
They were not removed. For all rails versions that support them they are still there. For Rails version that doesn't support them they were removed, but it was not working anyway since that Rails version don't have that methods.

[2018-12-05 15:24] #44 closed, assigned to nobody

[2018-12-05 15:24] rafaelfranca commented on #44
1.0.4 released.

[2018-12-05 15:25] mjhenkes commented on #44
@rafaelfranca thank you for the quick response :)

[2018-12-05 15:38] rafaelfranca commented on #44
Thank you for reporting, in the end it was a oversight in my side.

[2018-12-13 21:56] #41 closed, assigned to nobody

[2018-12-13 21:56] #38 closed, assigned to nobody

[2019-03-17 21:40] jasonfb commented on #37
testing by bumping this gem (rails-controller-testing) from 1.0.2 -> 1.0.4
[code]

the symptom persists. not resolved.

please re-open

[code]

[2019-03-17 21:54] jasonfb commented on #37
please note that these commits bump up this gem from 1.0.2 -> 1.0.4 and also add other security bumps to the example app:

https://github.com/jasonfb/rails-controller-testing-gem-group-issue-sample-app/commit/a6831cbba220e280570410e1e3317570bad24592

but the symptom persists,

[code]

you can reproduce this yourself fairly easily on any brand new Rails app, just add this gem inside only a test gro

[2019-03-19 20:49] rafaelfranca commented on #37
I can't reproduce with those steps, if I add the gem only in the test group in a new application using minitest it works.

Are you able to reproduce this with minitest or only RSpec?

[2019-03-19 20:53] rafaelfranca commented on #37
I just tried in your application to generate a controller test using minitest and use `assert_template` on it and it works fine. This seems to be a bug on rspec-rails.

[2019-03-20 11:25] jasonfb commented on #37
- [ ] TODO: get back to @rafaelfranca about question above

[2019-03-22 05:29] rafaelfranca commented on #37
hahaha. This is the best comment

[2019-03-22 15:26] GBH commented on #37
@jasonfb I just tried your repo and everything works for me
[code]

I have `1.0.4` version in a Rails 5.2 and it works just fine. It's 100% something with your environment.

[2019-03-27 13:12] petewalker commented on #37
@jasonfb - Just throwing it out there, but is your `RAILS_ENV` set to something other than `test`? That could prevent the gem from being autoloaded by rails.

I had a similar problem in a rails engine that this gem wasn't being autoloaded - as it wasn't in the `Gemfile`, but in the `gemspec`.

[2019-04-10 21:07] #37 closed, assigned to nobody

[2019-06-24 08:32] umesh-bilendo commented on #5
Rails 6.0.0.rc1, Ruby 2.6.0p0, still the error persists after adding rails-controller-testing gem

    NoMethodError: assigns has been extracted to a gem. To continue using it,
    add `gem 'rails-controller-testing'` to your Gemfile.

[2019-07-30 11:41] opsidao opened #47 "`assert_template` always succeeds when passed locals in an ActionController::TestCase"
As can be seen in [the code](https://github.com/rails/rails-controller-testing/blob/4e094da7e4352205eda9e4c1efe8c32df0d5715f/lib/rails/controller/testing/template_assertions.rb#L171), when you mistakenly pass the `locals` parameter to `assert_template` the assertion will simply write a message to the terminal, not even labeled as a warning in any way, but the assertion will the proceed to succeed

[2019-08-17 03:43] ericraio opened #48 "Gemspec support for Rails 6"
When upgrading to Rails 6, this gem was a roadblock to upgrading.

[2019-09-04 22:48] rafaelfranca commented on #48
Why? The gem already allow Rails 6: https://github.com/rails/rails-controller-testing/blob/v1.0.4/rails-controller-testing.gemspec#L21-L23

[2019-09-04 22:48] #48 closed, assigned to nobody

[2020-03-02 10:36] Amitavam commented on #38
commenting in case someone stumbles onto this in the future. It's resolved by adding the flag `type: :request`
https://github.com/rswag/rswag/blob/master/test-app/spec/integration/blogs_spec.rb

[2020-05-12 06:35] osfa commented on #5
+1

[2020-05-12 21:49] lucascaton opened #59 "[Ruby 2.7] warning: Using the last argument as keyword parameters is deprecated; maybe ** should be added to the call"
After upgrading to Ruby 2.7, this warning started showing up:

[code]

[2020-05-12 21:51] lucascaton commented on #59
My bad, this issue seems to have been fixed via #58.

[2020-05-12 21:51] #59 closed, assigned to nobody

[2020-06-05 17:55] corymcdonald opened #60 "Release v1.0.5"
👋 Hey there,

Would we be able to get a release created which contains the latest changes?

https://github.com/rails/rails-controller-testing/compare/v1.0.4...master

Thanks!

cc @rafaelfranca

[2020-06-18 18:12] SampsonCrowley opened #61 "`partial` locals and count mutually exclusive"
looking through the code, if you provide one, the other will never be ran (because it's in an elsif block)

What's the reasoning for this behavior?

[2020-06-18 18:35] SampsonCrowley commented on #61
This seems like something that should be an error to provide both, if both can't be tested

[2020-06-22 15:45] offbyone commented on #60
Seconding this; my specs are pretty noisy due to ruby 2.7 warnings.

[2020-06-22 20:35] rafaelfranca commented on #60
@eileencodes you were saying you wanted to do a release for this? If you don't have cycles I can do.

[2020-06-22 20:38] eileencodes commented on #60
I can do it, I thought that we had something we were waiting on. I'll do it tomorrow.

[2020-06-22 20:47] corymcdonald commented on #60
Thank you all!

[2020-06-23 12:39] eileencodes commented on #60
Release is done https://rubygems.org/gems/rails-controller-testing/versions/1.0.5

[2020-06-23 12:39] #60 closed, assigned to nobody

[2020-06-25 06:26] dmarcoux commented on #60
I noticed that the Git tag for `1.0.5` is missing.

[2020-06-25 12:29] eileencodes commented on #60
Oops pushed to my fork not to upstream. It's fixed.

[2020-12-23 17:17] CornerstoneII commented on #5
This worked for me:

[code]

[2021-02-04 09:35] MunimIftikhar opened #63 "expect(CreatesProject).to have_received(:new).with({name: "Runway", task_string: "start something:2"})"
I am trying to run the controller test in the Rails application.

## Controller code
Here is the code I'm trying to test (`/app/controllers/projects_controller.rb`):
[code]

## Controller Test
Here is the test(`/spec/controllers/projects_controller_spec`):
[code]
## Error
After running the command `bundle exec rspec`, I'm getting the following error:
[code]
Can anyone help me with this?

[2021-02-08 22:00] voxik opened #64 "Rails 6.1 compatibility"
[Testing against Rails 6.0](https://travis-ci.org/github/rails/rails-controller-testing/jobs/705868237), there are fired depracation warnings:

[code]

Testing against Rails 6.1, the same test cases fail such as:

[code]

[2021-04-20 01:00] sholden opened #68 "Rails 6.1 bug involving params with a nested param named param"
When calling `get :action, params: { params: 'string' }`, RouteSet#url_for is trying to merge! the inner params string into the params hash.

https://github.com/rails/rails/blob/main/actionpack/lib/action_dispatch/routing/route_set.rb#L826

I added a failing test here:

https://github.com/sholden/rails-controller-testing/blob/bug/merge-nested-params/test/controllers/template_assertions_test.rb#L19

[2021-05-06 02:33] ElMonx opened #69 "Version 1.0.4 is incompatible with Ruby 3.0.0"
Using Rails 6.1.3.1, Ruby 3.0.0 and rails-controller-testing 1.0.4, calling:

`post users_path, params: { user: { first_name: 'Test', last_name: 'Testington' } }`

or:

`patch user_path(@user), params: { user: { first_name: 'Test', last_name: 'Testington' } }`

causes the following error:

`ArgumentError: wrong number of arguments (given 2, expected 1)`

On 1.0.5 this doesn't happen anymore, I thi

[2021-06-09 12:25] #47 closed, assigned to nobody

[2021-09-02 07:00] gotoAndBliss commented on #69
Noticed this too. Trying to work out a way to remove this lib from rspec now.

[2021-10-18 08:54] SandyWang16 commented on #69
Hi, I Using Rails 6.1.4.1, Ruby 3.0.2 and rails-controller-testing version 1.0.5

when calling
`post url, { headers: { 'HTTP_REFERER': '123' } }`
or
`patch url, { params: { num: 20.0 } }`

also occured `ArgumentError: wrong number of arguments (given 2, expected 1)`
https://github.com/rails/rails-controller-testing/pull/62  was merged, but not release in Version 1.0.5

so i changed coding style:
`

[2021-10-29 08:49] jsantos commented on #69
I still bump into this issue while trying to upgrade to Ruby 3.0... Even by referring to the repository on the Gemfile :(

Use case:

[code]

where `params` is defined previously as `let(:params) { { section_id: section.id  } }`.

[2021-11-02 02:38] rafaelfranca commented on #69
We are using this gem with Ruby 3.1 even and we see no problem at all. Can you please provide a way to reproduce the issue?

[2021-11-24 12:48] jsantos commented on #69
@rafaelfranca I ended up figuring out that the issue was coming from another dependency (it was`apipie-rails` just in case someone is using this and doesn't figure out where the issue is from).

[2021-11-28 17:28] jasnow opened #70 "Getting "undefined local variable or method `executor_around_each_request'" after edge rails upgrade"
This commit to "rails": https://github.com/rails/rails/commit/5046d1cce90e56e3dc7f42cb394bbd5e740163c8 appears to have affected the rails-controller-testing gem.
Steps to reproduce:
 1. Clone my repo, https://github.com/jasnow/show-me-the-foodedge .
 2. Run "rake" to see a clean run before change.
 3. Run "bundle" to get a new version of edge rails.
 4. Run "rake" again and see the following error

[2021-11-29 22:58] jasnow commented on #70
@ghiculescu, @byroot: Ya'll might be able to help with this.

[2021-11-29 23:02] byroot commented on #70
Could you add a backtrace too? I'll have a look tomorrow and that would help a lot.

[2021-11-29 23:03] ghiculescu commented on #70
Thanks. I’ll have a look at this tomorrow.

[2021-11-29 23:03] ghiculescu commented on #70
Race is on 🚀

[2021-11-30 14:01] jasnow commented on #70
@byroot: Is not the backtrace inside the above gist? If not, how do I create it. Thanks

[2021-11-30 15:13] byroot commented on #70
My bad, I only skimmed the issue as I was to go to bed and missed it.

[2021-11-30 15:17] byroot commented on #70
Ok, so you use RSpec which probably explains it: https://github.com/jasnow/show-me-the-foodedge/blob/2cb663714dd0bd0c4ab9edc78aadd3f15c70190b/spec/controllers/locations_controller_spec.rb

Really unsure how to fix this, I'm really unfamiliar with how RSpec does these things.

[2021-11-30 15:22] byroot commented on #70
@ghiculescu I suppose we  can make it a global flag instead of a `class_attribute`, I kinda liked it that way but...

[2021-11-30 15:46] ghiculescu commented on #70
I don’t know rspec either. Maybe accessing the class method instead of the instance method would work here 🤔

[2021-11-30 19:57] ghiculescu commented on #70
https://github.com/rails/rails/pull/43757

[2021-11-30 19:58] ghiculescu commented on #70
You can test by changing the Gemfile to

[code]

[2021-11-30 21:07] jasnow commented on #70
Added
[code]
and it ran cleanly. Will close this issue when fix makes it into edge rails. THANKS!

[2021-11-30 21:11] #70 closed, assigned to nobody

[2022-01-21 23:07] ragaskar opened #73 ":identifiers in Rails 6 seem to fall into the wrong subscriber."
I have a bit of code that is render-ing a template like so:

`render file: Rails.root.join('public', 'webpack_assets', 'index.html'), layout: false`

This was previously being tested (with Rails 5) with an

`assert_template(file: Rails.root.join('public', 'webpack_assets', 'index.html'))`

This no longer works in Rails 6.1.1.4 (the `assert_template` actual is '[]' instead of the value of `Rails.ro

[2022-03-02 21:27] airdrummingfool commented on #73
I'm running into a similar problem. The template renders fine in normal use, but there is an error thrown when testing with `render_template`:

[code]

Render code:
[code]

@ragaskar did you ever find a workaround or a fix for this?

[2022-03-03 21:13] airdrummingfool commented on #73
I dug in a little bit and found that PR #46 has some discussion and a proposed fix: https://github.com/tconst/rails-controller-testing/commit/7c8f078c5ffe41bb41aec19192d47c29dccd19c6. I rebased it onto the newest commit in https://github.com/airdrummingfool/rails-controller-testing/commit/d5c05e711879301db89fc73fff4c81b2dcdf2416.

[2022-03-23 16:51] caseyprovost opened #75 "Rails 7 Support"
On the latest commit I am seeing the following for rails 7:

[code]

The offending line seems to be: `rails-controller-testing-21014e48be12/lib/rails/controller/testing/integration.rb:13`

[2022-03-23 19:20] rafaelfranca commented on #75
Do you have the entire backtrace? How can I reproduce this error? We use this gem with Rails 7 and I don't see this error.

[2022-03-23 19:20] rafaelfranca commented on #75
Duplicate of #69

[2022-03-23 19:20] #75 closed, assigned to nobody

[2022-03-23 19:21] #69 closed, assigned to nobody

[2022-03-23 19:41] rafaelfranca commented on #73
@airdrummingfool can you open a PR for that?

[2022-03-23 20:33] caseyprovost commented on #75
@rafaelfranca I tried to clean up the stacktrace to protect the company but let me take another pass and I'll see if I can't find a better representation.

For clarity do you also test using the syntax above? `get :index, params: { company_id: company }`

[2022-03-23 20:33] caseyprovost commented on #75
Oh it's a Ruby 3 issue, totally forgot to mention we are on Ruby 3

[2022-03-23 21:11] rafaelfranca commented on #75
Yes, exactly that. In #69 it seems the same problem was caused by a gem. The backtrace would be able to tell you that.

[2022-03-24 05:10] airdrummingfool commented on #73
@rafaelfranca sure, done. See #76.

[2022-10-24 22:18] klondikemarlen opened #77 "Support for nested matchers in `assert_template`"
I would expect
[code]
to work if arg1, and arg2 are correct.
Instead the code only seems to work when I also pass the correct value for arg3.

It seems like `assert_template` isn't accepting nested matchers?

[2022-10-24 22:23] klondikemarlen commented on #77
Using `rspec-rails` so this is probably not the correct place to post.

[2022-10-24 23:36] klondikemarlen commented on #77
Apparently the issue is in this repo (sort of). https://github.com/rails/rails-controller-testing/blob/master/lib/rails/controller/testing/template_assertions.rb#L170 uses `rendered_views.view_rendered?` which uses https://github.com/rails/rails/blob/8015c2c2cf5c8718449677570f372ceb01318a32/actionview/lib/action_view/test_case.rb#L159 which is doing `==` instead of `===` so it rejects matchers.

[2022-10-25 00:10] klondikemarlen commented on #77
`assert(@_rendered_views.view_rendered?(view, options[:locals]), msg)` could probably be something like
[code]
and it would take nested matchers. Though I'm not actually sure that nested matchers are  MiniTest thing and not just an RSpec thing, so maybe its not a problem in this repo after all.